/* Global Defaults */
.App {
  position:relative;
  font-family: 'Roboto', sans-serif;
  background-color:#0D2436;
  color:#fff;
  text-align: center;
  padding:60px 20px 80px;
}
* {
  box-sizing: border-box;
}

img {
  margin:0 auto;
  max-width:100%;
}
/* close button */
.close-button {
  position: absolute;
  right: 20px;
  top: 20px;
  width: 32px;
  height: 32px;
  opacity: 0.5;
  background:none;
  border:none;
}
.close-button:hover {
  opacity: 1;
}
.close-button:before, .close-button:after {
  position: absolute;
  left: 15px;
  top:0;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: #222;
}
.close-button:before {
  transform: rotate(45deg);
}
.close-button:after {
  transform: rotate(-45deg);
}
/* Flex Layout */
.row {
  display: flex;
  flex-wrap:wrap;
}

@media (max-width: 768px) {
  .row {
    display: block;
  }
  .row .col {
    width: 100%;
    margin: 0 0 10px 0;
  }
}
